@font-face {
    font-family: 'LintelRegular';
    src: url('../fonts/LintelRegular.eot');
    src: url('../fonts/LintelRegular.eot') format('embedded-opentype'),
         url('../fonts/LintelRegular.woff2') format('woff2'),
         url('../fonts/LintelRegular.woff') format('woff'),
         url('../fonts/LintelRegular.ttf') format('truetype'),
         url('../fonts/LintelRegular.svg#LintelRegular') format('svg');
}
@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/MinionProRegular.eot');
    src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
         url('../fonts/MinionProRegular.woff2') format('woff2'),
         url('../fonts/MinionProRegular.woff') format('woff'),
         url('../fonts/MinionProRegular.ttf') format('truetype'),
         url('../fonts/MinionProRegular.svg#MinionProRegular') format('svg');
}

@font-face {
    font-family: 'MinionProBold';
    src: url('../fonts/MinionProBold.eot');
    src: url('../fonts/MinionProBold.eot') format('embedded-opentype'),
         url('../fonts/MinionProBold.woff2') format('woff2'),
         url('../fonts/MinionProBold.woff') format('woff'),
         url('../fonts/MinionProBold.ttf') format('truetype'),
         url('../fonts/MinionProBold.svg#MinionProBold') format('svg');
}