.container{
	width: 1020px;
	margin: auto;
}
.basic{
	width: 100%;
	min-width: 1020px;
}
.top-panel{
	.basic;
	background: url(../images/main-bg.png);
	padding-top: 5px;
}


.slct {
	display: block;
	width: 220px;
	height: 25px;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		     border-radius: 5px;
	color: #c5c5c5;
	font-size: 12px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-decoration: none;
	background: #fff url(../images/drop.png)no-repeat 5px 3px;
	font-family: 'LintelRegular';	
	padding-left: 40px;
   padding-top: 6px;
   -webkit-transition: border-radius 0.15s ease-in-out;
   	-moz-transition: border-radius 0.15s ease-in-out;
   		  transition: border-radius 0.15s ease-in-out;
}
.slct.active {
	-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
			  border-radius: 5px 5px 0 0;
}
.drop {
	margin: 0;
	padding: 0;
	width: 220px;
	border-top: none;
	display: none;
	position: absolute;
	z-index: 5;
	background: #fff;
	font-family: 'LintelRegular';
	font-size: 12px;	
}
.drop li {
	list-style: none;
	cursor: pointer;
	display: block;
	color: #c5c5c5;
	padding: 4px 15px 4px 25px;
}
.drop li:hover {
	background-color: #e8e8e8;
}
.eyes-img{
	display: inline-block;
	padding-top: 4px;
	padding-left: 5px;
}
.text-slct{
	position: relative;
	top: -5px;
	padding-left: 5px;
}

.right-block{
	float: right;
}
.select{
	width: 220px;
	float: left;
}

.language{
	float: left;
	margin-left: 20px;

		li{
			float: left;
			margin-left: 7px;
		}
}
.social{
	float: left;
	margin-left: 30px;

		li{
			float: left;
			margin-left: 7px;
		}
}

.main-content{
	.basic;
	position: relative;
	padding-top: 180px;
	padding-bottom: 105px;
	background: url(../images/main-img.jpg)no-repeat 50%;
	background-size: cover;
}
.main-content-other{
	background: none;
}
.header{
	position: absolute;
	z-index: 3;
	top:0;
	left:0;
	.basic;
	height: 130px;
	background: url(../images/header.png);
}
.header-other{
	background: url(../images/header-other.jpg);
}
.logo{
	float: left;
	width: 290px;
	padding-top: 25px;
}
.right-content{
	width: 690px;
	float: right;
}
.header-link{
	float: left;
	font-family: 'MinionProRegular';
	padding-left: 20px;

		li{
			float: left;
			text-align: center;

				&:first-child{
					float: none;
					padding-right: 35px;
				}
				&:last-child{
					margin-left: 20px;
				}
		}

		a{
			font-size: 13px;
			color: #fff;

				&:hover{
					text-decoration: none;
				}
		}
}
.telephone{
	float: left;
	font-family: 'MinionProBold';
	color: #fff;
	font-size: 23px;
	padding-left: 26px;
	padding-top: 3px;

		span{
			padding-right: 10px;
		}
}
.search{
	float: right;
	position: relative;

		input[type="text"]{
			width: 180px;
			height: 29px;
			border:0;
			outline: 0;
			background-color: #fff;
			padding-left: 10px;
			font-size: 12px;
			font-family: 'LintelRegular';
		}
}
.s-in{
	border:0;
	outline: 0;
	cursor: pointer;
	display: block;
	width: 47px;
	height: 29px;
	background: url(../images/search.png)no-repeat;
	position: absolute;
	z-index: 2;
	right: 0;
	top:0;
}

.top-header{
	padding-top: 20px;
}

.nav{
	font-family: 'LintelRegular';
	margin-top: 10px;
	position: relative;

		> ul{
			font-size: 14px;

				> li{
					float: left;
					text-align: center;
					line-height: 1.2;
					height: 60px;
					border-right: 1px solid #010055;
					padding-top: 23px;
					padding: 0 4px;

						&:first-child{
							padding-left: 0;
						}
						&:last-child{
							border-right: 0;
							padding-right: 0;
							padding-left: 7px;
						}

						> a{
							color: #fff;
							text-decoration: none;
							display: block;
							padding-top: 23px;
						}
				}
		}
}

.sidebar{
	width: 435px;
	float: right;
}

.side-menu{
	width: 453px;
	height: 326px;
	margin-left: -9px;
	margin-top: -12px;
	position: relative;
	background: url(../images/aside-white.png)no-repeat;
}
.side-list{
	width: 503px;
	height: 295px;
	background: url(../images/side-list.png)no-repeat;
	position: absolute;
	z-index: 2;
	left: -25px;
   top: 15px;
   padding-top: 7px;

   	li{
   		margin-bottom: 20px;
   	}

   	a{
   		width: 100%;
   		display: block;
   		height: 80px;
   		line-height: 80px;
   		text-align: center;
   		text-decoration: none;
   		text-transform: uppercase;
   		color: #fff;
   		font-size: 29px;
   		font-family: 'MinionProBold';
   	}
   	span{
   		position: relative;
   		display: inline-block;

   			&:before{
   				content: '';
   				display: block;
   				position: absolute;
   				top: 50%;
   				left: -25px;
   				margin-top: -5.5px;
   				width: 11px;
   				height: 11px;
   				background: url(../images/white-circle.png)no-repeat;
   			}
   			&:after{
   				content: '';
   				display: block;
   				position: absolute;
   				top: 50%;
   				right: -25px;
   				margin-top: -5.5px;
   				width: 11px;
   				height: 11px;
   				background: url(../images/white-circle.png)no-repeat;
   			}
   	}
}

.footer{
	background: url(../images/footer.jpg)no-repeat 50%;
	background-size: cover;

		.right-block{
			padding-top: 24px;
		}
}

.maps{
	float: left;
	padding-top: 24px;
}
.contacts{
	float: left;
	color: #fff;
	padding-top: 15px;
	padding-left: 15px;

		h5{
			font-family: 'MinionProBold';
			font-size: 17px;
			margin-bottom: 15px;
		}
		li{
			margin-bottom: 5px;
		}
}


.icon-block{
	float: left;
	width: 35px;
	text-align: center;
}
.icon-cell{
	width: 35px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.contact-text{
	float: left;
	font-family: 'LintelRegular';
	padding-left: 10px;
	border-left: 1px solid rgba(255,255,255, 0.24);

		.tel{
			font-size: 20px;
			margin-bottom: 2px;
			font-family: 'LintelBlack';
		}
		.info{
			font-size: 12px;
		}
		a{
			color: #5159bd;
			font-size: 12px;

				&:hover{
					text-decoration: none;
				}
		}
}
.copyright{
	font-size: 9px;
	font-family: 'MinionProRegular';
	color: #fff;
	margin-top: 20px;

		a{
			color: #5961ca;	
		}
		.site-link{
			float: right;
		}
}
.copy-text{
	padding-left: 5px;
}
.slide-text{
	float: left;
	width: 400px;
	font-family: 'MinionProBold';
	margin-top: 280px;

		.title{
			font-size: 38px;
			color: #fff;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
		}
		.text{
			color: #fff;
			font-size: 15px;
			line-height: 1.2;
			margin-top: 5px;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
		}
		.more{
			display: block;
			width: 140px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			font-size: 15px;
			background: rgba(0,0,0,0.75);
			margin-top: 15px;
		}
}
.sub-menu-block{
	background: rgba(0,21,69,0.93);
	margin-top: 8px;
}
.sub-menu{
	position: absolute;
	left: -25px;
	padding-bottom: 20px;
	display: none;

		ul{
			float: left;
			padding-left: 15px;
			padding-right: 10px;
			border-right: 1px solid rgba(255,255,255, 0.11);

				&:first-child{
					width: 133px;
				}
				&:nth-child(2){
					width: 200px;
				}
				&:nth-child(3){
					width: 96px;
				}
				&:nth-child(4){
					width: 67px;
				}
				&:nth-child(5){
					width: 123px;
				}
				&:last-child{
					width: 96px;
					border-right: 0;
				}
				li{
					margin-bottom: 15px;
				}
		}

		a{
			text-decoration: underline;
			color: #fff;
			font-size: 10px;
			font-family: 'LintelRegular';

				&:hover{
					text-decoration: none;
				}
		}
}

.breadcrumbs{
	font-family: 'LintelRegular';
	font-size: 13px;

	li{
		float: left;
	}
	a{
		color: #7070e1;
	}
}

.content{
	.left-block{
		float: left;
		width: 70%;
	}
	.right-block{
		float: right;
		width: 28%;
	}
}

.news-img{
	float: left;
	width: 248px;
}
.news-wrapper{
	margin-top: 25px;
}
.news{
	padding-bottom: 55px;
	border-bottom: 1px solid #c8c8c8;
	padding-top: 50px;

		&:first-child{
			padding-top: 0;
		}
}
.news-desc{
	float: right;
	width: 420px;
	padding-right: 20px;

		.date{
			font-family: 'lintel_italic';
			font-size: 16px;
			color: #cfcfcf;
		}
		h3{
			font-family: 'MinionProBold';
			color: #292929;
			text-decoration: underline;
			font-size: 24px;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.text{
			color: #292929;
			font-family: 'LintelRegular';
			font-size: 16px;
		}
		.more{
			display: block;
			width: 130px;
			height: 30px;
			text-align: center;
			text-transform: uppercase;
			line-height: 30px;
			font-family: 'MinionProBold';
			color: #fff;
			background: #a6a6a6;
			text-decoration: none;
			font-size: 14px;
			margin-top: 10px;
		}
}
.preview{
	.title{
		margin-bottom: 25px;

			a{
				color:#7070e1;
				font-size: 13px;
				font-family: 'LintelRegular';
			}
	}
}

.preview-block{
	margin-bottom: 40px;
	padding: 10px 20px;
	padding-right: 5px;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
			  border-radius: 10px;

		a{
			color:#292929;
			text-decoration: underline;
			font-family: 'MinionProBold';
			font-size: 17px;
		}
		.text{
			font-family: 'LintelRegular';
			font-size: 13px;
			color: #292929;
			margin-top: 10px;
		}
		.date{
			font-family: 'LintelBlack';
			color: #222324;
			font-size: 16px;
			margin-top: 10px;
		}
		ul{
			font-family: 'LintelRegular';
			font-size: 13px;
			color: #292929;
			list-style: disc;
			margin-left: 15px;
		}
}

.timetable{
	margin-top: 60px;
}

.time-list{
	>li{
		font-size: 20px;
		color: #292929;
		font-family: 'LintelRegular';
		float: left;
		width: 16.6%;

			&:last-child .time-child{
				border-right: 0;
			}

			h4{
				height: 80px;
				padding-left: 50px;
			}
	}
}

.time-child{
	text-transform: uppercase;
	border-right: 1px solid #f7f7f7;
	padding-left: 50px;

		a{
			font-size: 17px;
			color: #7070e1;
			font-family: 'LintelRegular';
		}
		li{
			margin-bottom: 8px;
		}
}

.img-block{
	margin-top: 25px;

	img{
		margin-right: 25px;
	}
}

.theses{
	margin-top: 25px;
	font-family: Arial,sans-serif;

	.title{
		font-size: 17px;
		font-family: Arial,sans-serif;
		color: #09054c;
		font-weight: 800;
		line-height: 1.2;
	}
	.left-block{
		border-right: 1px solid #a2a2a2;
		padding-right: 30px;
	}
	h5{
		font-size: 17px;
		margin-bottom: 10px;
	}
	.second-title{
		color: #000;
		margin-top: 20px;
		line-height: 1.2;
		font-weight: 600;
	}
}

.these-list{
	list-style: decimal;
	margin-left: 20px;
	font-size: 17px;
	font-family: Arial,sans-serif;

		li{
			margin-top: 25px;
			line-height: 1.2;
		}
}

.info-block{
	font-family: Arial,sans-serif;
	font-size: 14px;
	color: #000;

		a{
			color: #000;

				&:hover{
					text-decoration: none;
				}
		}
		li{
			line-height: 1.5;
		}
}
.info-list{
	margin-top: 10px;
}

.info-social{
	margin-top: 30px;
}

.left-social{
	float: left;
	margin-left: -10px;
	padding-right: 20px;
	border-right: 1px solid #b2b2b2;

		li{
			float: left;
			margin-left: 10px;
			opacity: 0.25;
			-webkit-transition: opacity 0.2s ease;
			-moz-transition: opacity 0.2s ease;
			transition: opacity 0.2s ease;

				&:hover{
					opacity: 1;
				}
		}
}
.right-social{
	float: left;
	margin-left: -10px;
	padding-left: 20px;

		li{
			float: left;
			margin-left: 10px;
			opacity: 0.25;
			-webkit-transition: opacity 0.2s ease;
			-moz-transition: opacity 0.2s ease;
			transition: opacity 0.2s ease;

				&:hover{
					opacity: 1;
				}
		}
}

.info-table{
	font-family: Arail,sans-serif;
	font-size: 14px;
	margin-top: 35px;
	color: #32332d;

		a{
			color: #086bce;
		}
		tr{
			border:1px solid #d4d4d4;
		}
		td{
			vertical-align: top;
			padding: 5px;
			border-right: 1px solid #d4d4d4;

				&:last-child{
					text-align: center;
					width: 250px;
					line-height: 1.2;
					border-right: 0;
				}
				&:first-child{
					width: 30px;
				}
				&:nth-child(2){
					width: 290px;
					line-height: 1.2;
				}
		}
}
.info-list-child{
	padding-left: 20px;
}

.timetable-table{
	width: 680px;
	font-size: 13px;
	font-family: Arial,sans-serif;
	margin-top: 30px;

		td{
			padding: 5px;
			text-align: center;
			border-right: 2px solid #97999c;
			line-height: 1.2;
			vertical-align: middle;
		}
		thead{
			td{
				background-color: #e7eaf2;
			}
		}
		tr{
			border: 2px solid #97999c;
		}
		.text{
			background-color: #bcbcbc;
		}
		.date{
			background-color: #e7eaf2;
		}
}

.timetable-detail{
	font-family: Arial,sans-serif;

	h4{
		font-weight: bold;
		color: #0c4c86;
		font-size: 18px;
	}
	div.date{
		font-weight: bold;
		color: #0c4c86;
		font-size: 16px;
		margin-top: 25px;
	}
}

.choice-week{
	font-size: 14px;
	padding-left: 20px;
	padding-top: 25px;

		a{
			color: #000;
		}
		li{
			line-height: 1.3;
			letter-spacing: 1.5px;
		}
		ul{
			margin-top: 25px;
		}
}

.detail-wrapper{
	margin-top: 40px;
}

.slide-container{
	float: left;
	width: 428px;

	#bx-pager{
		margin-left: -10px;

		img{
			width: 133px;
			margin-left: 10px;
		}
	}
	.bx-wrapper{
		margin-bottom: 15px;
	}
	.bx-controls{
		display: none;
	}
}

.detail-desc{
	float: right;
	width: 560px;
	font-family: Arial,sans-serif;	

	.date{
		font-size: 19px;
		font-weight: bold;
		color: #b2b2b2;
	}
	.title{
		color: #05006c;
		font-weight: bold;
		font-size: 19px;
		margin-top: 5px;
	}
}

.detail-text{
	font-style: italic;
	font-size: 15px;
	line-height: 1.2;

		p{
			margin-top: 20px;
		}
}

.detail-social{
	margin-top: 20px;

		li{
			float: left;
			margin-right: 10px;
			color: #b6b6b6;
			font-size: 12px;
			font-style: italic;
			opacity: 0.32;
			-webkit-transition:opacity 0.2s ease;
				-moz-transition:opacity 0.2s ease;
			        transition:opacity 0.2s ease;

				&:hover{
					opacity: 1;
				}
		}
}